body {
    color:#333;
    background-color: rgb(241, 241, 241);
}
 
h1 ,h2{ 
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 1.5em;;
}
.header {padding-top:30px; padding-bottom:30px;}
.name{ display: inline;}
.resume {display: inline;float:right;}
.container { max-width: 800px; }

.footer { border-top:1px solid #333; padding-top:30px; padding-bottom: 30px; font-size: 0.7em; margin-top:30px;}